.MenuItem{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box
}
.MenuItem a{
    color: #9e9e9e;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}
.MenuItem a:hover,
.MenuItem a:active,
.MenuItem a.active{
    cursor: pointer;
    color: red;
}

@media(max-width:499px){
    .MenuItem{
        width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;

    }
    .MenuItem a{
        width: 100%;
        padding-right: 0;
    }
}
