.NewPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    margin-top: 65px;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    font: inherit;
    margin: auto;
    border-radius: 5px;
    height:35px;

}


.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fa3f58;
}
